body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #d4ccb0;
  }
  
  .login-container {
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  label {
    display: block;
    text-align: left;
    margin: 10px 0 5px;
    color: #666;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }

  section {
    margin-bottom: 2rem;
    padding: 1rem;
}

/* Estilo del logo de WhatsApp */
#logo-whatsapp {
    position: fixed;
    bottom: 15px;
    right: 40px;
    width: 80px; /* Tamaño reducido */
    height: 80px;
    z-index: 1000; /* Asegura que el logo esté por encima de otros elementos */
}

#logo-whatsapp img {
    width: 200%;
    height: 200%;
    object-fit: contain;
    border-radius: 50%; /* Para que el logo sea redondo */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra para darle un efecto flotante */
}

.volver{
    float: right;
}

#logo-instagram {
    width: 80px; /* Ancho del contenedor */
    height: 80px; /* Alto igual al ancho para hacerlo cuadrado */
    overflow: hidden; /* Oculta cualquier parte que se salga del contenedor */
    border-radius: 50%; /* Hace el contenedor redondo */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff; /* Fondo blanco para asegurar que el área transparente se vea bien */
}

#logo-instagram img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen al contenedor, manteniendo las proporciones */
    border-radius: 50%; /* Asegura que la imagen también sea redonda */
}



/* Ajustes para los tabs de sucursales */
.tabcontent {
    display: none;
    padding: 20px;
}

.tabs button {
    flex: 1; /* Hace que los botones se ajusten a diferentes tamaños de pantalla */
    margin: 5px; /* Espacio alrededor de cada botón */
}

.tabcontent iframe {
    width: 100%;
    height: 300px;
    border: 0;
}

footer {
    background-color: #333;
    color: white;
    padding: 1rem;
    border-radius: 0 0 10px 10px;
    text-align: center;
}

#contenido-footer {
    display: flex;
    flex-direction: column; /* Alinea los elementos en columna */
    align-items: center; /* Centra los elementos horizontalmente */
    text-align: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem 0;
}

.info-contacto p {
    margin: 0.5rem 0;
}

#redes-sociales {
    margin-top: 1rem;
}

#logo-instagram {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin: 0 auto; /* Centra el logo de Instagram */
}

#logo-instagram img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

footer p {
    margin: 0.5rem 0;
}

.opciones button {
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
  