<!DOCTYPE html>
<html lang="es">

<head>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="x-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FARMATOTAL/ORTOPEDIA</title>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
            rel="stylesheet">
            <link rel="stylesheet" href="../css/bootstrap.min.css">
    </head>





</head>


<body>

    <header>
        <a href="../index.html">
            <img src="../assets/logo.jpeg" class="logo">
        </a>
        <!--LOGO DE LA PAGINA, MENU DE NAVEGACIÓN, REDES SOCIALES-->
        
        <div class="navegacion">
            <a class="ini" href="../templaste/servcio">servicio</a>
            <a href="../templates/contacto.html">Contacto</a>
    
            </div>

    </header>
<main>
    <div class="container">
        <form class="well form-horizontal" action="" method="post" id="contact_form">
            <fieldset>
                <!-- Form Name -->
                <legend>Formulario de Consulta</legend>

                <!-- Text input -->
                <div class="form-group">
                    <label class="col-md-4 control-label">Nombre</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input name="first_name" placeholder="Nombre" class="form-control" type="text">
                        </div>
                    </div>
                </div>

                <!-- Text input -->
                <div class="form-group">
                    <label class="col-md-4 control-label">Apellido</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input name="last_name" placeholder="Apellido" class="form-control" type="text">
                        </div>
                    </div>
                </div>

                <!-- Email input -->
                <div class="form-group">
                    <label class="col-md-4 control-label">E-Mail</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input name="email" placeholder="Correo electrónico" class="form-control" type="text">
                        </div>
                    </div>
                </div>

                <!-- Phone input -->
                <div class="form-group">
                    <label class="col-md-4 control-label">Número de teléfono</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                            <input name="phone" placeholder="(54)261-555-1212" class="form-control" type="text">
                        </div>
                    </div>
                </div>

                <!-- Select dropdown for location -->
                <div class="form-group">
                    
                    
                    <div class="col-md-4 selectContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                            <select name="state" class="form-control selectpicker">
                                <option value="">Por favor selecciona tu Provincia o localidad</option>
                                <option>Gran mendoza</option>
                                <option>San juan</option>
                                <option>San luis</option>
                                <option>Neuquen</option>
                                <option>San rafael</option>
                                <option>Mendoza-alrededores</option>
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                

                                <!-- Más opciones aquí -->
                            </select>
                        </div>
                    </div>
                </div>

                <!-- Radio buttons for communication -->
               

                <!-- Textarea for message -->
                <div class="form-group">
                    <label class="col-md-4 control-label">¿Por qué nos contactas?</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                            <textarea class="form-control" name="comment"
                                placeholder="Descripción del proyecto"></textarea>
                        </div>
                    </div>
                </div>

               
                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-warning">Enviar <span
                                class="glyphicon glyphicon-send"></span></button>
                    </div>
                </div>

            </fieldset>
        </form>
    </div><!-- /.container -->

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3350.085411271125!2d-68.8389420246114!3d-32.895909969327235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x967e09166b903239%3A0x3c8285f946e326be!2sFarmatotal%20(farmacia%20y%20ortopedia)!5e0!3m2!1ses-419!2sar!4v1717910896235!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</main>

<footer class="footer">

    <div class="container">

        <div class="footer-row">

            <div class="footer-links">
                <h4>compañia</h4>
                <ul class="letras">
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Nuestro servcios</a></li>
                    <li><a href="#">Politicas de privacidad</a></li>
                    <li><a href="#">asociate</a></li>

                </ul>
            </div>
            <div class="footer-links">
                <h4>Ayuda</h4>
                <ul class="letras">
                    <li> <a href="#">Preguntas</a></li>
                    <li> <a href="#">Compras</a></li>
                    <li> <a href="#">Envios</a></li>
                    <li> <a href="#">Estatus de orden</a></li>
                    <li> <a href="#">Pago</a></li>
                </ul>
            </div>
            <div class="footer-links">
                <h4>Tienda</h4>
                <ul class="letras">
                    <li> <a href="#">Ortopedia</a></li>
                    <li> <a href="#">Accesorios</a></li>
                    <li> <a href="#">Telefonos</a></li>
                    <li> <a href="#">pantallas</a></li>

                </ul>
            </div>

            <div class="footer-links">
                <h4>Siguenos</h4>
                <div class="social-link">
                    <a href="#"> <i class="fab fa-facebook"></i></a>
                    <a href="#"> <i class="fab fa-instagram"></i></a>
                    <a href="#"> <i class="fab fa-twitter"></i></a>
                    <a href="#"> <i class="fab fa-linkedin"></i></a>
                </div>
                <div class="span6 m-bottom">
                    <h6 class="footer-title">Newsletter</h6>
                    <div id="newsletter">
                        
<form method="post" action="/winnie-pooh" onsubmit="this.setAttribute('action', '');" data-store="newsletter-form"></form>

<h4>Contactanos</h4>
                    <div class="input-append">
                        


                        <input type="text" id="name" name="name" placeholder="Nombre"
                            class="form-control m-right-quarter m-bottom-half-xs d-block-xs full-width-xs "
                            aria-label="Nombre">
                        <input type="email" class="form-control m-bottom-half-xs d-block-xs full-width-xs "
                            name="email" placeholder="Email" aria-label="Email">
                        <div class="winnie-pooh hidden">
                            <label for="winnie-pooh-newsletter">No completar este campo</label>
                            
                            
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    </div>

    </div>
</footer>
</body>

</html>