<!DOCTYPE html>
<html lang="es">

<head>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="x-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FARMATOTAL/ORTOPEDIA</title>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
            rel="stylesheet">
            <link rel="stylesheet" href="../css/bootstrap.min.css">
    </head>





</head>


<body>




    <header>
        <!--LOGO DE LA PAGINA, MENU DE NAVEGACIÓN, REDES SOCIALES-->
        <a href="../index.html">
            <img src="../assets/logo.jpeg" class="logo">
        </a>
        
        <div class="navegacion">
            <a class="ini" href="../templaste/servcio">servicio</a>
            <a href="../templates/contacto.html">Contacto</a>
    
            </div>
    </header>

    <main>

    

    <section>
        <div class="rehab">
            <div class="cuadro1">
                <!-- <img src="imagenes/imagen proyecto3.jpeg"  class="imagen-cuadro"> -->
                <img src="../assets/rehabilitacion 1.jpeg " alt="">
                <p class="p1">"TE LLEVAMOS TODO A TU CASA PARA TU REHABILITACIION"</p>
            </div>
            <div class="rehab">
                <div class="cuadro1">
                <!-- <img src="imagenes/imagen proyecto3.jpeg"  class="imagen-cuadro"> -->
                <img src="../assets/rehabilitacion 2.jpeg " alt="">
                <p class="p1">"MUÑEQUERA A MEDIDAS Y AJUSTABLES"</p>
            </div>
            <div class="rehab">
                <div class="cuadro1">
                <!-- <img src="imagenes/imagen proyecto3.jpeg"  class="imagen-cuadro"> -->
                <img src="../assets/rehabilitacion 3.jpeg " alt="">
                <p class="p1">"CONTAMOS CON LA MAYOR TECNOLOGIA EN INSUMOS"</p>
            </div>
        </main>
            
        <footer class="footer">

            <div class="container">
    
                <div class="footer-row">
    
                    <div class="footer-links">
                        <h4>compañia</h4>
                        <ul class="letras">
                            <li><a href="#">Nosotros</a></li>
                            <li><a href="#">Nuestro servcios</a></li>
                            <li><a href="#">Politicas de privacidad</a></li>
                            <li><a href="#">asociate</a></li>
    
                        </ul>
                    </div>
                    <div class="footer-links">
                        <h4>Ayuda</h4>
                        <ul class="letras">
                            <li> <a href="#">Preguntas</a></li>
                            <li> <a href="#">Compras</a></li>
                            <li> <a href="#">Envios</a></li>
                            <li> <a href="#">Estatus de orden</a></li>
                            <li> <a href="#">Pago</a></li>
                        </ul>
                    </div>
                    <div class="footer-links">
                        <h4>Tienda</h4>
                        <ul class="letras">
                            <li> <a href="#">Ortopedia</a></li>
                            <li> <a href="#">Accesorios</a></li>
                            <li> <a href="#">Telefonos</a></li>
                            <li> <a href="#">pantallas</a></li>
    
                        </ul>
                    </div>
    
                    <div class="footer-links">
                        <h4>Siguenos</h4>
                        <div class="social-link">
                            <a href="#"> <i class="fab fa-facebook"></i></a>
                            <a href="#"> <i class="fab fa-instagram"></i></a>
                            <a href="#"> <i class="fab fa-twitter"></i></a>
                            <a href="#"> <i class="fab fa-linkedin"></i></a>
                        </div>
                        <div class="span6 m-bottom">
                            <h6 class="footer-title">Newsletter</h6>
                            <div id="newsletter">
                                
    <form method="post" action="/winnie-pooh" onsubmit="this.setAttribute('action', '');" data-store="newsletter-form"></form>
    
    <h4>Contactanos</h4>
                            <div class="input-append">
                                
    
    
                                <input type="text" id="name" name="name" placeholder="Nombre"
                                    class="form-control m-right-quarter m-bottom-half-xs d-block-xs full-width-xs "
                                    aria-label="Nombre">
                                <input type="email" class="form-control m-bottom-half-xs d-block-xs full-width-xs "
                                    name="email" placeholder="Email" aria-label="Email">
                                <div class="winnie-pooh hidden">
                                    <label for="winnie-pooh-newsletter">No completar este campo</label>
                                    
                                    
                                </div>
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>
    
            </div>
    
            </div>
        </footer>
    </body>
    
    
</html>